body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
  }

main {
    flex: 1 0 auto;
}

p, li{
  font-size: 16px;
}

.brand-logo {
  font-size: 140% !important;
  padding-left: 2px !important;
}

.parallax-container {
    height: 700px;
  }

.bio{
  font-size: 22px;
}

.mission{
  font-size: 24px;
}

.carousel-item{
  width:100% !important;
  height:100% !important;
}

.newsletterheading{
  font-weight: bold;
}

.aboutmephoto{
  height: 600px !important;
}